@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Raleway|Space+Mono|Source+Code+Pro");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background: none; }

/* Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2016 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Ahmet Altun
 * License URL: https://www.fontspring.com/licenses/ahmet-altun/webfont
 *
 *
 */
@font-face {
  font-family: "Halis";
  src: url("../assets/fonts/HalisR-Book-webfont.eot");
  src: url("../assets/fonts/HalisR-Book-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HalisR-Book-webfont.woff2") format("woff2"), url("../assets/fonts/HalisR-Book-webfont.woff") format("woff"), url("../assets/fonts/HalisR-Book-webfont.ttf") format("truetype"), url("../assets/fonts/HalisR-Book-webfont.svg#halis_rbook") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Halis";
  src: url("../assets/fonts/HalisR-Bold-webfont.eot");
  src: url("../assets/fonts/HalisR-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HalisR-Bold-webfont.woff2") format("woff2"), url("../assets/fonts/HalisR-Bold-webfont.woff") format("woff"), url("../assets/fonts/HalisR-Bold-webfont.ttf") format("truetype"), url("../assets/fonts/HalisR-Bold-webfont.svg#halis_rbook") format("svg");
  font-weight: bold;
  font-style: normal; }
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: "Source Sans Pro", "Montserrat", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #415851; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", "Space Mono", "Inconsolata", "Courier", monospace; }

h1 {
  font-weight: 300; }

h2 {
  font-size: 1.4em; }

main {
  min-height: 100vh;
  position: relative;
  background: #fdfdf1; }

.clear {
  clear: both; }

.content {
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
  padding: 0 2em; }

b {
  font-weight: bold; }

.filters-group {
  display: flex; }
  .filters-group .filters {
    flex: 1;
    margin-right: 0.5em; }
    .filters-group .filters:last-child {
      margin-right: 0; }

.filters {
  display: flex;
  margin: 0.5em 0; }
  .filters button {
    flex: 1;
    padding: 1.2em 0.4em 1em 0.4em;
    font-size: 0.8em;
    text-align: center;
    color: #444;
    cursor: pointer; }
  .filters i {
    padding: 0 0.5em; }

.filters-stars {
  font-size: 0; }
  .filters-stars i {
    font-size: 12px; }

.filters-all {
  background: #319282;
  color: #fff;
  padding: 1em 0; }
  .filters-all button {
    background: #fff;
    color: #343434;
    margin: 0 0.25em 0.5em 0.25em; }
    .filters-all button:hover {
      background: #f8e30d;
      color: #fff; }
    .filters-all button.selected {
      background: #319282;
      color: #fff; }
    .filters-all button:disabled {
      opacity: 0.6; }
  .filters-all .filters {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }

.search-input {
  width: 100%;
  padding: 0.5em 1em 0.5em 2.5em;
  border: none;
  font-family: "Source Sans Pro", "Montserrat", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.5em;
  border-radius: 2em;
  color: #a6a6a6; }

.search-wrapper {
  position: relative;
  margin: 0 0 2em 0; }
  .search-wrapper:before {
    font-family: "FontAwesome";
    color: #319282;
    position: absolute;
    top: 0.3em;
    left: 0.5em;
    content: "";
    font-size: 2em; }

a, a:visited {
  color: #000; }
  a:hover, a:visited:hover {
    color: #319282; }

header {
  color: #444;
  background: #5fcab8;
  background-size: cover;
  background-position: top center; }
  header h1 a, header h1 a:visited, header h1 a:hover {
    color: #fff !important;
    text-decoration: none; }
  header .logo {
    float: left;
    font-size: 1.8em; }
  header img {
    width: 32px;
    margin-right: 0.1em;
    vertical-align: middle;
    margin-top: -2px; }

.header-bar {
  background-color: #5fcab8;
  color: #415851;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  .header-bar a, .header-bar a:visited {
    color: #fdfdf1;
    text-decoration: none; }
    .header-bar a:hover, .header-bar a:visited:hover {
      color: #fdfdf1;
      text-decoration: underline; }
  .header-bar img {
    width: 42px;
    vertical-align: middle;
    margin-right: 0.5em; }
  .header-bar .submit-button, .header-bar .submit-button:visited {
    padding: 0.5em;
    border: 2px solid #fdfdf1; }
    .header-bar .submit-button:hover, .header-bar .submit-button:visited:hover {
      background-color: #7ed4c6;
      border: 2px solid #fdfdf1;
      text-decoration: none; }
  .header-bar nav ul {
    margin: 0;
    padding: 0; }
  .header-bar nav li {
    display: inline; }
  .header-bar .header-bar-left,
  .header-bar .header-bar-right {
    line-height: 2.5; }
  .header-bar .header-bar-right {
    text-align: right;
    right: 0;
    flex: 3; }
  .header-bar .header-bar-left {
    flex: 1; }
  .header-bar .header-bar-top {
    height: 12em;
    width: 100%; }
  .header-bar .header-bar-bottom {
    height: 5em;
    width: 100%; }

.title {
  font-size: 2.8em;
  text-align: left;
  line-height: 135%;
  color: #fdfdf1;
  border-bottom: 1px #fdfdf1 solid;
  padding-bottom: 0.5em; }

footer {
  background: #fff;
  color: #415851;
  padding: 3em 0;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  footer p {
    line-height: 140%; }
  footer a, footer a:visited {
    color: #5fcab8;
    text-decoration: none; }
    footer a:hover, footer a:visited:hover {
      color: #319282;
      text-decoration: underline; }
  footer img {
    height: 50px;
    vertical-align: middle;
    margin-right: 0.5em; }
  footer section {
    width: 100%;
    margin: 0;
    text-align: left; }
    footer section li {
      float: left; }
  footer .core-team {
    height: 40%; }
  footer .partners {
    height: 60%; }
  footer .about {
    height: 80%; }
  footer .social {
    height: 20%;
    padding: 1em 0 0 0; }
  footer .footer-left span, footer .footer-left a,
  footer .footer-right span,
  footer .footer-right a {
    margin: 0 0.5em; }
  footer .footer-right {
    text-align: right;
    padding-left: 3em; }
  footer .copyright {
    text-align: center; }
  footer .footer-left,
  footer .footer-right,
  footer .copyright {
    flex: 1;
    line-height: 2.5; }

.footer-container {
  display: flex; }

.filters-all-content {
  display: none; }
  .filters-all-content > .filters:first-child {
    margin-top: 1em; }

.filters-controls {
  font-size: 1.2em;
  overflow: hidden; }
  .filters-controls button, .filters-controls button:hover {
    color: #fff;
    background: none;
    margin: 0; }

.toggle-filters {
  float: left;
  cursor: pointer; }

.clear-filters {
  float: right;
  cursor: pointer; }

.search-dropdown {
  position: absolute;
  background: #eee;
  color: #111;
  left: 2.8em;
  right: 2em;
  z-index: 10; }
  .search-dropdown li {
    padding: 1em;
    cursor: pointer; }
    .search-dropdown li:hover {
      background: #ddd; }

.filters-state {
  margin: 1em 0;
  text-align: center; }

@media screen and (max-width: 490px) {
  .header-bar {
    text-align: center; }
    .header-bar > * {
      display: block;
      float: none !important;
      text-align: center; }
    .header-bar .get-involved li {
      float: none;
      display: inline-block; }
    .header-bar h1 {
      margin-bottom: 1em; }

  header .content {
    padding: 0; } }
@media screen and (max-width: 820px) {
  footer {
    display: block;
    text-align: center; }
    footer .footer-right {
      text-align: center; } }
.results {
  margin: 2em auto 0em auto;
  padding-bottom: 3em; }

.result {
  display: inline-block;
  width: 32.9%;
  border: 4px solid #319282;
  text-align: center;
  padding: 1.5em 1.2em 1.5em 1.2em;
  margin: 0.4em 0 0 0;
  position: relative;
  vertical-align: top;
  height: 16em; }
  .result a, .result a:visited {
    color: #fff; }
    .result a:hover, .result a:visited:hover {
      color: #319282; }
  .result h2 {
    font-size: 1.4em;
    letter-spacing: 0.1em;
    padding: 0 0 0.5em 0;
    color: #319282;
    border-bottom: 1px solid #ddd;
    line-height: 4.4em;
    hyphens: auto; }
    .result h2 span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal; }
  .result:hover .result-info {
    display: block; }

.result-info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #319282;
  color: #fff;
  padding: 1.5em;
  text-align: left; }
  .result-info h3 {
    padding: 0 0 1em 0;
    font-size: 1.1em;
    line-height: 1.4; }
    .result-info h3 a {
      font-weight: bold; }
      .result-info h3 a:hover {
        color: #fff !important;
        text-decoration: underline !important; }
      .result-info h3 a:first-child {
        text-decoration: none; }

.result-stats {
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
  right: 1.5em;
  display: flex; }
  .result-stats li {
    flex: 1;
    margin-right: 0.5em; }
    .result-stats li:last-child {
      margin-right: 0; }
    .result-stats li:first-child {
      flex: 1.5; }
  .result-stats i {
    font-size: 2em; }
  .result-stats h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
    margin: 0 0 1em 0; }
  .result-stats .stars i {
    font-size: 1em; }
  .result-stats h1 {
    color: #fff;
    display: inline-block; }

.result-meta {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.7em;
  line-height: 1.5;
  padding: 1em 0; }

.result-meta-lead {
  text-transform: uppercase; }

.result-description {
  font-size: 1em;
  line-height: 1.5;
  color: #415851;
  margin-top: 1.2em; }

.result-actions {
  font-size: 0.9em;
  text-transform: uppercase;
  position: absolute;
  display: flex;
  bottom: -4px;
  left: -4px;
  right: -4px; }
  .result-actions a {
    display: block;
    flex: 1;
    text-align: center;
    background: #5fcab8;
    text-decoration: none;
    padding: 1em; }
    .result-actions a:hover {
      color: #fff; }
    .result-actions a:last-child {
      background: #f5743d; }

.result-service {
  font-weight: bold;
  text-decoration: underline; }

.result-meta-info {
  float: left;
  width: 70%; }

.result-meta-share {
  font-size: 1.2em;
  color: #319282;
  float: right;
  width: 30%;
  text-align: right;
  padding-top: 0.2em; }
  .result-meta-share a, .result-meta-share a:visited {
    color: #319282; }
  .result-meta-share i {
    background: #fff;
    padding: 0.45em 0.5em;
    border-radius: 40em;
    margin-left: 0.5em;
    cursor: pointer; }

.no-results, .loading {
  text-align: center;
  margin: 3em 0;
  font-size: 2em;
  line-height: 1.4; }

.result-sharing {
  display: none;
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 16em; }
  .result-sharing li {
    margin-top: -1em;
    display: inline-block;
    vertical-align: middle;
    line-height: normal; }
    .result-sharing li a, .result-sharing li a:visited {
      display: block;
      padding: 1em 1.2em;
      background: #319282;
      color: #fff; }
      .result-sharing li a:hover, .result-sharing li a:visited:hover {
        background: #f8e30d;
        color: #fff; }

.result-state {
  cursor: pointer; }

.dead {
  background: #fcfced;
  color: #d3b49c;
  border-color: #d3b49c; }
  .dead h2, .dead h3, .dead a, .dead a:visited, .dead a:hover, .dead a:visited:hover, .dead .result-description, .dead p {
    color: #c39979; }

@media screen and (max-width: 990px) {
  .result {
    width: 49.5%; }

  .results {
    padding-bottom: 12em; } }
@media screen and (max-width: 690px) {
  .result {
    width: 100%; }

  .results {
    padding-bottom: 12em; } }
.about-title {
  text-align: left; }

.about-intro, .faq, .resources {
  display: flex;
  border-bottom: 1px solid #d7d7d7; }
  .about-intro a, .about-intro a:visited, .faq a, .faq a:visited, .resources a, .resources a:visited {
    text-decoration: none;
    color: #319282;
    font-weight: bold; }
  .about-intro p, .faq p, .resources p {
    margin: 0 0 1.5em 0;
    line-height: 1.6; }
  .about-intro article, .faq article, .resources article {
    flex: 4;
    font-size: 1.3em;
    padding: 0 3em 0 0; }
    .about-intro article p, .faq article p, .resources article p {
      font-size: 0.8em;
      color: #767676; }
      .about-intro article p:first-child, .faq article p:first-child, .resources article p:first-child {
        color: #555;
        font-size: 1em; }
  .about-intro aside, .faq aside, .resources aside {
    flex: 2;
    color: #555; }

.about-intro article li {
  margin: 0 0 0.8em 0; }
.about-intro article:last-of-type {
  margin-bottom: 3em; }

.about-intro, .about-letter, .faq, .resources {
  padding: 3em 2em; }

.about-letter {
  padding-top: 1em;
  padding-bottom: 12em; }
  .about-letter p {
    margin: 1em 0;
    color: #555;
    line-height: 1.6; }

.faq aside li, .resources aside li {
  font-size: 1.2em;
  margin: 0 0 2em 0; }
.faq .back-to-top, .faq .back-to-top:visited, .resources .back-to-top, .resources .back-to-top:visited {
  font-weight: normal;
  font-size: 0.8em;
  color: #aaa;
  text-decoration: underline; }

.faq-questions, .faq-answers, .resources-index, .resources-resources {
  font-size: 0.8em; }

.faq-questions, .resources-index {
  padding-bottom: 2em;
  margin-bottom: 4em;
  border-bottom: 1px solid #d7d7d7; }
  .faq-questions li, .resources-index li {
    line-height: 1.4; }

.faq-questions li {
  margin: 0 0 2em 0; }

.faq-answers li, .resources-resources li {
  margin: 0 0 6em 0; }

.faq-answer-question, .resources-resource {
  margin: 0 0 0.5em 0;
  display: block; }

.faq-intro, .resources-intro {
  margin: 0 0 2em 0;
  font-weight: bold;
  line-height: 1.6;
  color: #555; }

@media screen and (max-width: 620px) {
  .about-intro, .faq, .resources {
    display: block; }
    .about-intro article, .faq article, .resources article {
      padding: 0 0 2em 0; }

  .about-title {
    font-size: 2.2em; } }

/*# sourceMappingURL=main.css.map */
